@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzamos el color de fondo oscuro para toda la app */
body {
  @apply bg-[#001f3f] text-white;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}